Repository CDCgov/ReportVision, pull requests merged in 2024-04, with the labels that each got.

#60 [IDWA-28] Fix cron job time to once a day, during weekdays - closing issues
  .github/workflows/issues-close-project-done.yaml
Labels: ops IDWA

#37 RL Minikube setup
  dedupe/manifests/README
  dedupe/manifests/record-linkage.yml
  dedupe/manifests/scripts/minikube-start.sh
Labels: dedupe, ops dedupe

#63 [IDWA-OPS-58] Poetry test action for OCR
  .github/workflows/ocr-tests.yml
Labels: OCR, ops OCR

#59 RL Synthea Performance tests
  .gitignore
  dedupe/record_linkage_testing/Dockerfile.api
  dedupe/record_linkage_testing/Dockerfile.runner
  dedupe/record_linkage_testing/README.md
  dedupe/record_linkage_testing/compose.yml
  dedupe/record_linkage_testing/rlpt.env
  dedupe/record_linkage_testing/scripts/generate_synthetic.sh
  dedupe/record_linkage_testing/scripts/reset_db.sh
  dedupe/record_linkage_testing/scripts/send_linkage_requests.sh
  dedupe/record_linkage_testing/scripts/test.sh
  dedupe/record_linkage_testing/scripts/test_synthea_data.sh
  dedupe/record_linkage_testing/src/link.py
Labels: Engineering, dedupe, RLPT

#83 Ericbuckley/idwa 71 analyze rl performance
  dedupe/record_linkage_testing/Dockerfile.api
  dedupe/record_linkage_testing/Dockerfile.runner
  dedupe/record_linkage_testing/README.md
  dedupe/record_linkage_testing/compose.yml
  dedupe/record_linkage_testing/conf/init.sql
  dedupe/record_linkage_testing/conf/postgresql.conf
  dedupe/record_linkage_testing/rlpt.env
  dedupe/record_linkage_testing/scripts/analyze_trace_timings.sh
  dedupe/record_linkage_testing/scripts/api_health_check.sh
  dedupe/record_linkage_testing/scripts/generate_synthetic.sh
  dedupe/record_linkage_testing/scripts/seed_db.sh
  dedupe/record_linkage_testing/scripts/test_synthea_data.sh
  dedupe/record_linkage_testing/src/dal.py
  dedupe/record_linkage_testing/src/link.py
  dedupe/record_linkage_testing/src/main.py
  dedupe/record_linkage_testing/src/mpi.py
Labels: Engineering, dedupe, RLPT
